<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layout/root_layout">
<head>
    <script type="text/javascript" src="js/sort-table.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Chess</title>
    <link rel="icon" type="image/x-icon" href="../../../../../../Videos/Nioh/startbootstrap-agency-gh-pages/assets/favicon.ico" />
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

</head>
<body>
<div class="container-fluid">

    <div class="row">

        <div class="topnav">
            <a class="topnaVL " href="/index">Strona Główna</a>
            <a sec:authorize="isAuthenticated()" class="topnaVL active" href="/userTournaments">Twoje turnieje</a>

            <a sec:authorize="isAnonymous()" class="topnaVR" href="/login4">Logowanie</a>
            <a sec:authorize="isAnonymous()" class="topnaVR" href="/register3">Rejestracja</a>

            <a sec:authorize="isAuthenticated()" class="topnaVR" href="/perform_logout">Wyloguj</a>
            <a sec:authorize="isAuthenticated()" class="topnaVR" href="/editUser"><span sec:authentication="name">Bob</span></a>
        </div>

        <div class="col-sm-8 table-responsive">
            <h1 align="center"> Lista twoich turnieji </h1>

            <div class="wrapper">
                <div class="buttonWrapper">
                    <button class="tab-button active" style="border-top-left-radius: 10px;" data-id="myTable">Dzisiejsze Turnieje</button>
                    <button class="tab-button" data-id="myTable2">Rozegrane Turnieje</button>
                    <button class="tab-button" style="border-top-right-radius: 10px;" data-id="myTable3">Zaplanowane Turnieje</button>
                </div>
                <div class="contentWrapper">
                    <table class="js-sort-table table table-responsive content active" id="myTable"
                           border="1">
                        <thead class="thClass">
                        <tr>
                            <th class="js-sort-string">Name</th>
                            <th class="js-sort-date">Date</th>
                            <th class="js-sort-string">Address</th>
                            <th class="js-sort-string">Ilość Graczy</th>
                            <th class="js-sort-string"></th>
                            <th class="js-sort-string"></th>
                            <th class="js-sort-string"></th>
                            <th class="js-sort-string"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user_tournamentModel: ${listUserTournaments}">
                            <div th:if="${#dates.format(#calendars.createNow(), 'yyyy-MM-dd').toString().equals(user_tournamentModel.tournament.start_date.toString())}">
                                <td th:text="${user_tournamentModel.tournament.name}"></td>
                                <td th:text="${user_tournamentModel.tournament.start_date}"></td>
                                <td th:text="${user_tournamentModel.tournament.address}"></td>
                                <td th:text="${user_tournamentModel.tournament.max_players}"></td>
                                <td><a th:href="@{/deleteUserTournament/{id}(id=${user_tournamentModel.id})}" th:attr="name='id'" th:onclick="|confirmDeletion('${user_tournamentModel.id}')|"class="btn btn-danger">Wypisz się</a>  </td>
                                <td><a th:href="@{/userTournamentsId/{id}(id=${user_tournamentModel.id})}" th:attr="name='id'" class="btn btn-primary">Szczegóły</a>  </td>
                            </div>
                        </tr>
                        </tbody>
                    </table>
                    <table class="js-sort-table table table-responsive content" id="myTable2"
                           border="1">
                        <thead class="thClass">
                        <tr>
                            <th class="js-sort-string">Name</th>
                            <th class="js-sort-date">Date</th>
                            <th class="js-sort-string">Address</th>
                            <th class="js-sort-string">Ilość Graczy</th>
                            <th class="js-sort-string"></th>
                            <th class="js-sort-string"></th>
                            <th class="js-sort-string"></th>
                            <th class="js-sort-string"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user_tournamentModel: ${listUserTournaments}">
                            <div th:unless="${#dates.createNow().before(user_tournamentModel.tournament.start_date)}">
                                <td th:text="${user_tournamentModel.tournament.name}"></td>
                                <td th:text="${user_tournamentModel.tournament.start_date}"></td>
                                <td th:text="${user_tournamentModel.tournament.address}"></td>
                                <td th:text="${user_tournamentModel.tournament.max_players}"></td>
                                <td><a th:href="@{/deleteUserTournament/{id}(id=${user_tournamentModel.id})}" th:attr="name='id'" th:onclick="|confirmDeletion('${user_tournamentModel.id}')|"class="btn btn-danger">Delete</a>  </td>
                                <td><a th:href="@{/userTournamentsId/{id}(id=${user_tournamentModel.id})}" th:attr="name='id'" class="btn btn-primary">Details</a>  </td>
                            </div>
                        </tr>
                        </tbody>
                    </table>
                    <table class="js-sort-table table table-responsive content" id="myTable3"
                           border="1">
                        <thead class="thClass">
                        <tr>
                            <th class="js-sort-string">Name</th>
                            <th class="js-sort-date">Date</th>
                            <th class="js-sort-string">Address</th>
                            <th class="js-sort-string">Ilość Graczy</th>
                            <th class="js-sort-string"></th>
                            <th class="js-sort-string"></th>
                            <th class="js-sort-string"></th>
                            <th class="js-sort-string"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user_tournamentModel: ${listUserTournaments}">
                            <div th:unless="${#dates.createNow().after(user_tournamentModel.tournament.start_date)}">
                                <td th:text="${user_tournamentModel.tournament.name}"></td>
                                <td th:text="${user_tournamentModel.tournament.start_date}"></td>
                                <td th:text="${user_tournamentModel.tournament.address}"></td>
                                <td th:text="${user_tournamentModel.tournament.max_players}"></td>
                                <td><a th:href="@{/deleteUserTournament/{id}(id=${user_tournamentModel.id})}" th:attr="name='id'" th:onclick="|confirmDeletion('${user_tournamentModel.id}')|"class="btn btn-danger">Delete</a>  </td>
                                <td><a th:href="@{/userTournamentsId/{id}(id=${user_tournamentModel.id})}" th:attr="name='id'" class="btn btn-primary">Details</a>  </td>
                            </div>
                        </tr>
                        </tbody>
                    </table>
                </div>



            </div>

        </div>

        <div class="col-sm-4">
            <h1> <br> </h1>
            <table class="js-sort-table table table-responsive" id="sort"
                   border="1">
                <thead align="center" class="thClass">
                <th align="center" class="js-sort-string">Sortuj według</th>
                </thead>
                <tbody>
                <tr>
                    <td><input type="text" id="myInput" onkeyup="myFunction()" placeholder="Nazwa turnieju" title="Type in a name"></td>
                </tr>
                <tr>
                    <td><input type="text" id="myInputCity" onkeyup="myFunction2()" placeholder="Miasto" title="Type in a name"></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>




<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
        if (window.location.hash != "") {
            $('a[href="' + window.location.hash + '"]').click()
        }
    });
</script>

<script>
    function myFunction() {
        var input, filter, table, table2, table3, tr, tr2, tr3, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");

        table2 = document.getElementById("myTable2");

        table3 = document.getElementById("myTable3");


        tr = table.getElementsByTagName("tr");
        tr2 = table2.getElementsByTagName("tr");
        tr3 = table3.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }

        for (i = 0; i < tr2.length; i++) {
            td = tr2[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr2[i].style.display = "";
                } else {
                    tr2[i].style.display = "none";
                }
            }
        }

        for (i = 0; i < tr3.length; i++) {
            td = tr3[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr3[i].style.display = "";
                } else {
                    tr3[i].style.display = "none";
                }
            }
        }
    }
</script>

<script>
    function myFunction2() {
        var input, filter, table, table2, table3, tr, tr2, tr3, td, i, txtValue;
        input = document.getElementById("myInputCity");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");

        table2 = document.getElementById("myTable2");

        table3 = document.getElementById("myTable3");


        tr = table.getElementsByTagName("tr");
        tr2 = table2.getElementsByTagName("tr");
        tr3 = table3.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[2];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }

        for (i = 0; i < tr2.length; i++) {
            td = tr2[i].getElementsByTagName("td")[2];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr2[i].style.display = "";
                } else {
                    tr2[i].style.display = "none";
                }
            }
        }

        for (i = 0; i < tr3.length; i++) {
            td = tr3[i].getElementsByTagName("td")[2];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr3[i].style.display = "";
                } else {
                    tr3[i].style.display = "none";
                }
            }
        }
    }
</script>

<script th:inline="javascript">
    function confirmDeletion(id) {
        if (confirm("Usunąć ten turniej? " + id)) {
            var http = new XMLHttpRequest();
            http.open("GET", "/delete/" + id, true);
            http.addEventListener("readystatechange", function() {
                if (http.readyState === 4 && http.status === 200) {
                    window.location.reload(true);
                }
            });
            http.send();
        }
    }
</script>

<script th:inline="javascript">
    const tabs = document.querySelector(".wrapper");
    const tabButton = document.querySelectorAll(".tab-button");
    const contents = document.querySelectorAll(".content");

    tabs.onclick = e => {
        const id = e.target.dataset.id;
        if (id) {
            tabButton.forEach(btn => {
                btn.classList.remove("active");
            });
            e.target.classList.add("active");

            contents.forEach(content => {
                content.classList.remove("active");
            });
            const element = document.getElementById(id);
            element.classList.add("active");
        }
    }
</script>

</body>
</html>